@mixin center-flex($direction, $justify) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: center;
	align-content: center;
}

@mixin font($size, $weight) {
	font-size: $size;
	font-weight: $weight;
}
