//base colors
$red-primary: #8e1818;
$red-secondary: #952424;
$red-small: #862424;
$red-text: #822222;
$red-button: #d22b2b;
$footer-background: #b41a1a;
$black: #000000;
$second-black: #171717;
$black-body: #101010;
$menu-background: #1a1a1a;
$button-hover: #a92020;
// Colors
$header-background-color: $footer-background;
$nav-link-color: #fff;
$hover-nav-link: #831b1b;
$menu-hamburger-color: #000;
$black-button: $black;

//Desktop colors
$header-background-desktop: #171717;

//Fonts weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Fonts sizes
$font-size-nav: 10px;
$font-menu-open: 2.8rem;
