* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow: visible;
}

@media (min-width: 751px) {
	html {
		font-size: 100%;
	}
}
