@import "../variables/variables", "../mixins/mixins";

.about {
    @include center-flex(column, center);

    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    text {
        @include font(1.4rem, $light);
        color: $red-text;
        text-align: center;
        margin-right: 11vw;
        margin-left: 11vw;
    }
}
