@import "../variables/variables", "../mixins/mixins";

.depositions {
	margin-right: 5vw;
	margin-left: 5vw;

	h1 {
		@include font(4.2rem, $extra-bold);
		color: $footer-background;
		margin-top: 10vh;
		margin-bottom: 35px;
	}

	.deposition {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;

		.pfp {
			border-radius: 50%;
		}

		h3 {
			@include font(2.8rem, $bold);
			color: $red-secondary;
			margin-top: 1vh;
			margin-bottom: 1vh;
		}

		.deposition-text {
			@include font(1.4rem, $light);
			color: $red-text;
			text-align: center;
			margin: 0px 2vw 4vh 2vw;
		}
	}
}

@media (min-width: 1280px) {
	.depositions {
		margin-right: 10vw;
		margin-left: 10vw;

		.deposition + .deposition {
			margin-top: 50px;
		}

		.deposition {
			h3 {
				margin-bottom: -100px;
			}
		}

		.deposition-1 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"img txt1"
				"img txt2";
			justify-items: center;
			.deposition-img-1 {
				grid-area: img;
				margin-top: 80px;
			}
		}

		.deposition-2 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"txt1 img"
				"txt2 img";
			justify-items: center;
			.deposition-img-2 {
				grid-area: img;
				margin-top: 80px;
			}
		}

		.deposition-3 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"img txt1"
				"img txt2";
			justify-items: center;
			.deposition-img-3 {
				grid-area: img;
				margin-top: 80px;
			}
		}
	}
}
