@import "../variables/variables", "../mixins/mixins";

footer {
	width: auto;
	height: 100%;
	background-color: $footer-background;
	@include center-flex(column, center);
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 4vh;

	.logo-footer {
		height: 22%;
		margin-bottom: 6%;
	}

	.instagram {
		margin-bottom: 11%;
	}

	a {
		text-decoration: none;
		color: $black;
	}

	span {
		@include font(1.4rem, $regular);
		display: block;
	}

	.opening-hour {
		margin-bottom: 8%;
	}

	.location {
		margin-bottom: 8%;
	}
}

@media (min-width: 751px) {
	footer {
		padding-bottom: 0;
		width: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"i b"
			"o l"
			"c c";
		grid-gap: 20px;
		.logo-footer {
			margin-bottom: 0;
			grid-area: b;
			place-self: center;
			height: 50%;
		}

		.instagram {
			margin-bottom: 0;
			grid-area: i;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				justify-content: space-evenly;
				margin-right: 30%;
				margin-left: 30%;
			}
		}

		.opening-hour {
			margin-bottom: 0;
			grid-area: o;
		}

		.location {
			margin-bottom: 0;
			grid-area: l;
		}

		span {
			@include font(1rem, $regular);
		}

		#copyright {
			grid-area: c;
		}
	}
	.wrapper {
		width: auto;
	}
}
