@import "../variables/variables", "../mixins/mixins";

header {
	background-color: $header-background-color;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 90%;
		max-width: 980px;

		margin: auto;
	}

	img {
		width: 150px;
		margin-left: 20px;
		padding: 1vh 0;
	}

	nav ul {
		display: flex;
	}

	nav ul li {
		list-style: none;
	}

	nav ul li a {
		text-decoration: none;
		color: $nav-link-color;
		text-transform: uppercase;
		font-size: $font-size-nav;
		padding: 2.4rem;
		transition: all 250ms linear 0s;
	}

	nav ul li a:hover {
		background: $hover-nav-link;
	}
}

@media (max-width: 750px) {
	nav {
		display: none;
	}

	.one,
	.two,
	.three {
		background-color: $menu-hamburger-color;
		height: 5px;
		width: 100%;
		margin: 6px auto;
		transition-duration: 0.3s;
		border-radius: 8px;
	}

	.menu-toggle {
		width: 40px;
		height: 30px;
		margin-right: 20px;
	}

	/* fullscreen */
	.menu-section.on {
		position: absolute;
		top: 0;
		left: 0;

		width: 100vw;
		height: 100vh;

		background-color: $red-primary;

		z-index: 10;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-section.on nav {
		display: block;
	}

	.menu-section.on .menu-toggle {
		position: absolute;
		right: 25px;
		top: 15px;
	}

	.menu-section.on .menu-toggle .one {
		transform: rotate(45deg) translate(7px, 7px);
	}

	.menu-section.on .menu-toggle .two {
		opacity: 0;
	}

	.menu-section.on .menu-toggle .three {
		transform: rotate(-45deg) translate(8px, -9px);
	}

	.menu-section.on nav ul {
		text-align: center;
		display: block;
	}

	.menu-section.on nav ul a {
		transition-duration: 0.5s;
		@include font($font-menu-open, $bold);
		line-height: 4rem;
		display: block;
	}
}

@media (min-width: 751px) {
	header {
		background-color: $header-background-desktop;
	}

	nav ul li a:hover {
		background-color: transparent !important;
	}

	header nav {
		width: 50vw;

		ul {
			align-items: center;
			display: flex;
			justify-content: space-around;
		}
	}

	header .container {
		width: 90%;
		max-width: none;
		margin-right: 10vw;
	}

	header nav ul li a {
		padding: 0;
		@include font(1rem, $regular);
		color: $footer-background;
		&hover {
			background: transparent;
		}
	}

	header nav ul li {
		font-size: x-small;
	}

	.logo-desktop {
		display: block;
	}

	.logo-mobile {
		display: none;
	}

	#menu {
		padding: 0;
		margin: 0;
	}
}

@media (max-width: 380px) {
	#second-logo {
		display: none;
	}
}
